/* font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* common styles  */
body{
    font-family:'Poppins', sans-serif;
    background-color: whitesmoke;
   
}
main{
    width: 1440px;
    display: flex;
    flex-direction: column;
}
.container{
    width: 100%;
    background-color: whitesmoke;
    
}



/* banner style  */
.banner{
   
    height: 677px;
    background-color:#2D25A0;
    display: grid;
    grid-template-columns:repeat(2,1fr);
}

.banner-info{
    display: flex;
    flex-direction: column;
}
.text-area{
    color: white;
    width: 485px;
    height: 230px;
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
    margin: 207px 58px 37px 156px;
    padding:0px;
  
}
 .banner-info button{
    width: 168px;
    height: 44px;
    margin-top: 27px;
    background-color:  #E02C6D;
    color: white;
    margin-bottom: 169px;
    margin-left: 156px;
    padding:10px 24px;
    font-weight: 500;
    font-size: 16px;

}
.fa-arrow-right{
     margin-left: 8px;
}
.thumbnail{
    width: 556px;
    height: 438px;
    margin: 153px 141px 86px 0px;
}

.thumbnail .pic img{
    width: 388px;
    height:428px;
    
    margin: 5px 84px 28px 83px;
    padding: 0 0; 
}
    
  /* player style  */

.players{
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 27px;
    padding: 0px 210px 0px 180px ;
    
}
.player{
  
    width: 330px;
    height: 474px;
    
    background-color: white;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  

}
.player img{
    width: 300px;
    height: 256px; 
    padding: 15px 15px;
    
}
.player-name{
    font-size:28px;
    font-weight: 700;
    margin: 0;
    padding-left: 15px;

}
.player-details{
    font-size: 16px;
    padding: 15px;
    margin: 0;
}

/* before footer style  */

.before-footer{
    margin-top: 80px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}
.left-side{
    width: 466px;
    height: 309px;
    /* margin: 224px 69 217px 182px; */
    margin: 59px 0;
   
    background-color: white;
 }

 .left-title{
    font-size: 39px;
    font-weight: 700;
    margin: 0;

}
.left-details{
    font-size: 16px;
    font-weight: 400;
    margin:0;
}
.left-side button{
    background-color:  #E02C6D;
    color: white;
    width: 173px;
    height: 44px;
    font-weight: 500;
    font-size: 16px;
    padding:  10px 24px;
    margin: 24px 0;
}

.right-side img{
    width: 567px;
    height: 427px;
    border-radius: 5px;
  
}

/* footer style  */

.footer-part{
    width: 484px;
    height: 213px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    margin-top: 158px;
    margin-left: 475px;
}
.footer-part .logo img{
    width: 484px;
    height: 110px;
}
 .social-icon{
     width: 170px;
     height: 32px;
     margin: 20px 157px;
     display: flex;
     align-items:center;
     
    

}
.icon{
    background: rgb(190, 187, 187);
   margin: 0px 5px;
    font-size: 18px;
    color:rgb(54, 53, 53);
    height: 32px;
    width: 32px;
    border-radius: 50%;
    text-align: center;



}
footer{
    font-size: 18px;
}


